@page
@model ProductManagementUi.Pages.Products_adminModel
@{
    ViewData["Title"] = "Products_admin";
}


    <form class="form-addProduct" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Add product</h1>
        <label for="inputEmail" class="sr-only">Title</label>
        <input type="text" id="inputTitle" class="form-control" placeholder="Title" required autofocus asp-for="ViewModel.Product.Title">
        <label for="inputPassword" class="sr-only">Quantity</label>
        <input type="text" id="inputQuantity" class="form-control" placeholder="Quantity" required asp-for="ViewModel.Product.Quantity">
        <label for="inputPassword" class="sr-only">Price</label>
        <input type="number" step="0.01" id="inputPrice" class="form-control" placeholder="Password" required asp-for="ViewModel.Product.Price">
        @Html.ValidationSummary(false)
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a>ID </a>
            </th>
            <th>
                <a>Title</a>
            </th>
            <th>
                <a>Quntity </a>
            </th>
            <th>
                <a>Price</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ViewModel.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <form class="form-deleteProduct" method="post">
                        <button type="submit" asp-page-handler="delete" asp-route-id="@item.Id">Delete</button>
                        <button type="submit" asp-page="EditProduct" asp-route-id="@item.Id" asp-route-title="@item.Title" asp-route-price="@item.Price" asp-route-quantity="@item.Quantity">Edit</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

