@page
@model ProductManagementUi.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}

<table class="table">
    <thead>
        <tr>
            <th>
                <a>Id</a>
            </th>
            <th>
                <a>Title</a>
            </th>
            <th>
                <a>Quantity </a>
            </th>
            <th>
                <a>Price</a>
            </th>
            <th>
                <a>Total price with VAT</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Key.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
    </tbody>
</table>

